<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Appenders>
     
     
        <File name="sparcFile" fileName="/Users/dheeru/logs/application.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
  </Appenders>
<loggers>     
    <root level="debug">
      <appender-ref ref="sparcFile" level="debug"/>
    </root>    
  </loggers>
    
</Configuration>